<form>
	<div class="row">
		<div class="col-lg-5">
			<select class="form-control drop-bottom" name="groupName" >
				<option>Please Select a Product Group</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
			  <label>Product Name:</label>
			  <input type="text" class="form-control" name="productName">
			</div>
		</div>
	</div>
	<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			<label>Product price:</label>
			<input type="text" class="form-control" name="price">
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-lg-6 drop-bottom">
			<label>Product Image: </label>
			<input type="file" class="form-control" name="image" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 drop-bottom">
			<label>Product Description</label>
			<textarea class="form-control" rows="4" name="description"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<input type="submit" value="Add Product" class="btn btn-success" />
		</div>
	</div>
</form>