	<div class="row">
			<div class="row">
				<div class="col-lg-12">
					<p>Please login to enter the administrative area.</p>
				</div>
			</div>
			<div class ="row">
				<div class ="col-lg-12">
					<p style="color: red" id="invalidAdmin" class="hide">Incorrect Username and Password</p>
				</div>
			</div>
		</div>

		<form action="/admin/login" method="post">
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="usr">Username:</label>
						<input type="text" class="form-control" id="username" name="email" value = "admin">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" id="password" name="password" value = "pass">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<input type="submit" value="Access Admin Area" class="btn btn-success" />
				</div>
			</div>
		</form>