			<div class="row">
				<span class="col-lg-12 drop-bottom">To retrieve customer records, select the customer</span> 
			</div>
	<form action="/customers" method="post" id="view_customers">
		<div class="row">
			<div class="col-lg-6">
				<select class="form-control drop-bottom">
					<option value = "0">Select a Customer</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" id="myTable"></div>
		</div>	