			<div class="row">
				<span class="col-lg-12 drop-bottom">Your order will arrive within 5 business days.</span> 
			</div>		
			<div class="row">
				<span class="col-lg-12 drop-bottom">You have been logged out of the shopping cart.If you want to place another order you will have to log back in.</span> 
			</div>
