<div class="row">
	<span class="col-lg-12 drop-bottom">Select a product group to update the product.</span> 
</div>
<div class="row">
	<div class="col-lg-6 drop-bottom">
		<select class="form-control" id="update_products">
			<option value = "0">Please Select a Product Group</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-lg-12" id="myTable"></div>
</div>