
/*rotate shopping cart icon from bootstrap default glyphicon*/
.gly-flip-horizontal {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
 -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
transform: scale(-1, 1);}
  
  /*adjust shopping cart location*/
  .move-shopping-cart{margin-top: 30px;}
  
  /*create gap between header and nav*/
  .drop-bottom{margin-bottom: 15px;}
  /*set width on text box*/
  .set-width{width:125px;}
  
  /*set red*/
  .red{color: red;}

/*description box*/
#descriptionBox{overflow: hidden; border: 1px solid #4285F4; padding: 0 15px 15px 15px; background-color: #fff; border-radius: 5px; width: 50%; position: fixed; top: 200px; left: 0; right: 0; margin-left: auto; margin-right: auto;}
#descriptionBox img{width: 300px;}

.hide{display: none;}
.show{display: block;}